<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".StubApp"
        android:label="Per-App Theme Injector"
        android:allowBackup="false">

        <!-- Xposed module marker (harmless for LSPosed, useful for LSPatch) -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Per-App Theme Injector (LSPosed + LSPatch)" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>

